{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Gestor de Tareas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="{% static '../static/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static '../static/js/popper.min.js' %}"></script>
    <script src="{% static '../static/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>